# {cpu}: required CPU for each job.
# {mem}: required memory for each job.
# {bash}: shell command language for each job.
# {out}: write the standard output of a job to the specified file path.
# {err}: write the standard error of a job to the specified file path.
# {script}: a job file path
# {job_id}: a job id, usually returned by `submit` command
# submit: command to submit a job
# kill: command to kill a job
# check-alive: command to check a job status
# job-id-regex: the job-id-regex to parse the job id from the out of `submit` command

[SGE]
submit = qsub -pe smp {cpu} -l vf={mem} -o {out} -e {err} {script}
kill = qdel {job_id}
check-alive = qstat -j {job_id}
job-id-regex = (\d+)

[PBS/TORQUE]
submit = qsub -l nodes=1:ppn={cpu},mem={mem} -o {out} -e {err} {script}
kill = qdel {job_id}
check-alive = qstat {job_id}
job-id-regex = (\d+)

[LSF]
submit = bsub -n {cpu} -R rusage[mem={mem}] -o {out} -e {err} {script}
kill = bkill {job_id}
check-alive = bjobs {job_id}
job-id-regex = Job <(\d+)>

[SLURM]
submit = sbatch --cpus-per-task={cpu} --mem-per-cpu={mem} -o {out} -e {err} {script}
kill = scancel {job_id}
check-alive = squeue -j {job_id}
job-id-regex = Submitted batch job (\d+)
